<h1>greetings</h1>
<form class="" action="/greetings" method="post">
  <input class="nameInput" type="text" name="" placeholder="enter name___">
  <button class="inputBtn" type="button" name="button">Submit</button>
</form>
