<h1>Greetings-App</h1>
<form action="/greetings" method="post">
  <input type="text" name="inputName" placeholder="Enter name...">
  <br>
  <br>
  <h2>Choose one of the languages below</h2>
  <input type="radio" name="language" value="English">English</input>
  <input type="radio" name="language" value="isiXhosa">Isixhosa</input>
  <input type="radio" name="language" value="Swahili">Swahili</input>
  <br>
  <br>
  <button type="submit" name="button">Submit</button>
</form>
{{counter}}
<br> {{greet}}
