<h1>Greetings-App</h1>
<form action="/greetings" method="post">
  <input type="text" name="inputName" placeholder="Enter name...">
  <br>
  <br>
  <button type="submit" name="button">Submit</button>
  <br>
  <br>
  <input type="radio" name="language" value="English">English</input>
  <input type="radio" name="language" value="isiXhosa">Isixhosa</input>
  <input type="radio" name="language" value="Swahili">Swahili</input>
</form>
<br> {{greet}}
