body {
  color: #123353;
  background-color: #EBA7A7;
  text-align: center;
}
h1 {
  background-color: #123353;
  color: #FCF4F2;
}
input {
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  text-align: center;
}
input:focus {
  outline: none;
}
form {
  text-align: center;
};
li {
  list-style-type: none;
}
